.vehicle_modal{
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
    background-color: rgb(199, 204, 199);
    min-height: 1000px;
    min-width: 800px;
    left: 50%;
    top: 17%;
    transform: translate(-50%);
    border-radius: 10px;
    font-family: 'Manrope';
}

.picture {

    & > img {
        object-fit: contain;
        height: 45vh;
    }
}

