.VehicleCard {
    box-shadow: 0 0 10px rgba(28, 28, 28, 0.17);
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 30rem;
    font-family: "Manrope";
    padding: 30px 25px;
    border-radius: 15px;
    transition: all 0.5s;
    background-color: rgba(222, 222, 222, 0.19);
    &:hover {
        transform: scale(1.03);
        border: 2px solid rgb(36, 146, 255);
        cursor: pointer;
        box-shadow: 0 0 10px rgb(50, 166, 255);
    }
}

.large_title{
    font-weight: bold;
    font-size: 1rem;
    margin-bottom: 20px
    
}


.large_image {
    height: 250px;
    object-fit: contain;
    margin-bottom: 20px;
    clip-path: polygon(0 15%, 100% 0, 100% 80%, 0% 100%);
    
}


.large_specs{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    list-style: none;
}

.range_container, .speed_container, .price_container {
    font-size: 20px
}