.nav{
    display: flex;
    justify-content: space-between;
    padding: 30px 50px;
    font-family: "Manrope", sans-serif;
    align-items: center;
    position: fixed;
    top:0;
    width: 100%;
    height: 6rem;
    
}

.nav_links {
    display: flex;
    gap: 2rem;
    list-style: none;
    .nav_link{
        font-size: large;
        font-weight: 500;
    }
}




.nav_search{
    font-family: "Manrope", sans-serif;
    padding: 10px 10px;
    width: 15rem;
    border-radius: 8px;
    border: 1px solid black;
}



